:host ::ng-deep {
    .p-button {
        background: var(--main-color);
        padding: 0.75rem;
        border: none;

        &:not(:disabled):hover {
            background: color-mix(in srgb, var(--main-color) 80%, black);
            border: none;
        }
    }

    .p-inputtext {
        padding: 0.65rem;

        &:enabled:focus {
            border-color: var(--main-color);
        }
    }
}