<p-dialog header="Новое сообщение" (onHide)="close.emit(true)" [dismissableMask]="true" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
    <p-floatlabel variant="on">
        <textarea pTextarea id="on_label" rows="5" cols="30" class="h-full w-full"></textarea>
        <label for="on_label">Новое сообщение</label>
    </p-floatlabel>

    @if (files.length) {
    <div class="flex flex-col gap-2 mt-[17.5px]">
        @for (file of files; track $index) {
        <div class="flex items-center justify-between border border-[var(--main-color)]/50 rounded-md p-2">
            <div class="flex items-center gap-2">
                <i [class]="file.icon"></i>
                <span>{{ file.file.name }}</span>
            </div>
            <i (click)="removeFile(file)" class="pi pi-times cursor-pointer"></i>
        </div>
        }
    </div>
    }

    <ng-template pTemplate="footer">
        <div class="flex justify-start w-full gap-3">
            <button (click)="send()" [icon]="sendLoading() ? 'pi pi-spin pi-spinner' : 'pi pi-send'" pButton label="Отправить" class="send"></button>
            <p-fileUpload chooseLabel="Выбрать файл" name="demo[]" mode="basic" [multiple]="true" [customUpload]="true" (onSelect)="myUpload($event)">
            </p-fileUpload>
        </div>
    </ng-template>
</p-dialog>