:host ::ng-deep {

    .p-dialog-content {
        padding-top: 5px;
    }

    .p-inputtext:enabled:focus  {
        border-color: var(--main-color);
    }

    .p-floatlabel:has(.p-inputtext) label{
        color: var(--main-color);
    }

    .p-editor .p-editor-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label, .p-editor .ql-snow.ql-toolbar .ql-picker-label.ql-active, .p-editor .ql-snow.ql-toolbar button.ql-active {
        color: var(--main-color);
        background-color: color-mix(in srgb, var(--main-color) 10%, transparent);
        border-radius: 8px;
    }

    .p-editor .ql-snow.ql-toolbar button.ql-active .ql-stroke, .p-editor .p-editor-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-stroke, .p-editor .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke {
        stroke: var(--main-color);
    }

    .p-button.send, .p-fileupload-choose-button {
        background: var(--main-color);
        border: none;

        &:not(:disabled):hover {
            background: color-mix(in srgb, var(--main-color) 80%, black);
            border: none;
        }
    }

    .p-fileupload-basic-content > span {
        display: none;
    }
}