<div class="layout-topbar border-b border-b-[#ddd]">
    <div class="layout-topbar-logo-container sm:border-r sm:border-r-[#ddd] sm:pr-4">
        <button class="layout-menu-button layout-topbar-action w-14! h-14!" (click)="layoutService.onMenuToggle()">
            <i class="pi pi-bars text-3xl!"></i>
        </button>
        <a class="layout-topbar-logo" routerLink="/">
            <span>СИ "Коргузор"</span>
        </a>
    </div>

    <div class="layout-topbar-actions">
        <button class="layout-topbar-menu-button layout-topbar-action" pStyleClass="@next" enterFromClass="hidden"
            enterActiveClass="animate-scalein" leaveToClass="hidden" leaveActiveClass="animate-fadeout"
            [hideOnOutsideClick]="true">
            <i class="pi pi-ellipsis-v"></i>
        </button>

        <div class="layout-topbar-menu hidden lg:block">
            <div class="layout-topbar-menu-content">
                <button type="button" class="layout-topbar-action">
                    <i class="pi pi-user"></i>
                    <span>Аккаунт</span>
                </button>
                <button type="button" class="layout-topbar-action">
                    <i class="pi pi-sign-out"></i>
                    <span>Выход</span>
                </button>
            </div>
        </div>
    </div>
</div>