:host ::ng-deep {

    .p-paginator-page.p-paginator-page-selected,
    .p-select-option.p-select-option-selected,
    .p-select-option.p-select-option-selected.p-focus {
        background: var(--main-color);
        color: white;
    }

    .p-select:not(.p-disabled).p-focus {
        border-color: var(--main-color);
    }

    .p-datatable-table-container {
        border-radius: 10px;
    }

    .p-datatable-tbody>tr {
        background-color: white;
        transition-duration: 250ms;

        &:hover {
            background-color: #f4f4f4;
        }
    }

    .p-button.view {
        background: var(--main-color);
        border: none;

        &:not(:disabled):hover {
            background: color-mix(in srgb, var(--main-color) 80%, black);
            border: none;
        }
    }
}