::ng-deep .p-datatable-tbody > tr {
    background-color: white;
    transition-duration: 250ms;

    &:hover {
        background-color: #f4f4f4;
    }
}

::ng-deep .p-datatable-table-container {
    border-radius: 10px;
}